&spi1 {
  status = "okay";
  cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;

  adxl345: adxl345@0 {
          compatible = "adi,adxl345";
          reg = <0>;
          status = "okay";

          spi-max-frequency = <5000000>;
  };
};